<div class="header">
	<div class="header__container">	
		<div class="header__quote">
			<div class="header__line"></div>
			<span class="header__hashtag">#unboxed thinking</span>
			<div class="header__quote-text">Before the invention of the eraser, pieces of bread were used to <span class="regular-text">remove pencil marks</span></div>
		</div>
	</div>
	<div class="header__padding"></div>
	<div class="header__nav">unboxedfeed</div>
</div>
