<div class="menu">
	<h1>unboxed feed</h1>
</div>
<div class="feed">
	<% @content_items.each do |item| %>
		<div class="item">
			<div class="item-image">
			</div>
			<div class="item-info">
				<% if item.category === 'tweet' %>
					<h4><%= item.category %></h4>
					<p>
						<%= link_to 'link', item.url %>
					</p>
				<% else %>
					<h4><%= item.category %></h4>
					<p>
						<%= link_to 'link', item.url %>
					</p>
				<% end %>
			</div>
		</div>
	<% end %>
</div>

