<div class="menu">
	<p>
		unboxed<br/>
		<span class="large-text">feed</span>
	</p>
</div>
<div class="feed">
	<% @content_items.each_with_index do |item, index| %>
		<div class="item">
			<div class="item-image">
			</div>
			<div class="item-info">
				<% if item.category === 'tweet' %>
					<p class="category"><%= item.category.capitalize %></p>
					<p>
						<%= link_to 'link', item.url %>
					</p>
				<% else %>
					<p class="category"><%= item.category.capitalize %></p>
					<p>
						<%= link_to 'link', item.url %>
					</p>
				<% end %>
			</div>
		</div>
	<% end %>
</div>

