// Place all the styles related to the content_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

* {
    box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

a {
	color: #000000;
}

.menu {
	float: left;
	width: 15%;
	padding-left: 7px;
}

.large-text {
	font-size: 5em;
}

@media (max-width: 900px) {
	.large-text {
		font-size: 2em;
	}
}

.feed {
	float: right;
	width: 85%;
}

@media (max-width: 480px) {
	.feed {
		width: 100%;
	}
}

.item {
	float: right;
	width: 220px;
	height: 350px;
	padding: 3px;
	background-color: #efefef;
}

@media (max-width: 480px) {
	.item {
		width: 100%;
	}
}

.item:hover {
	.item-info {
		height: 149px;
	}
	.title-trunc {
		display: none;
	}
	.title {
		display: block;
	}
}

.item-medium {
	float: right;
	width: 440px;
	height: 350px;
	padding: 3px;
	background-color: #efefef;
}

.item-large {
	float: right;
	width: 660px;
	height: 350px;
	padding: 3px;
	background-color: #efefef;
	position: relative;
	.item-info {
		display: none;
	}
	.item-image {
		height: 344px;
	}
}

@media (max-width: 792px) {
	.item-large {
		width: 440px;
	}
}

@media (max-width: 675px) {
	.item-large {
		width: 220px;
	}
}

@media (max-width: 480px) {
	.item-large {
		width: 80%;
	}
}

.item-image {
	background-color: #8A2D8E;
	height: 344px;
	margin-bottom: none;
	position: relative;
}

.item-info {
	height: 124px;
	background-color: #ffffff;
	padding-top: 10px;
	padding-left: 7px;
	padding-right: 7px;
	position: absolute;
	bottom: 0px;
}

.item-info-top {
	position: absolute;
	left: 12px;
	bottom: 10px;

	.category {
		color: #ffffff;
		background-color: #444641;
		padding: 3px 6px 3px 6px;
		font-weight: 400;
	}

	.title-top {
		font-size: 0.8em;
		color: #ffffff;
		background-color: #444641;
		padding: 3px 6px 3px 6px;
		margin-top: 10px;
		margin-right: 12px;
	}
}

.category {
	margin-top: 0;
	font-weight: 400;
}

.title,
.title-trunc {
	font-size: 0.8em;
	margin-top: -12px;
}

.title {
	display: none;
}

.tags {
	margin-top: -10px;
	position: absolute;
	bottom: -7px;
}

.tag {
	color: #ffffff;
	background-color: #444641;
	font-size: 0.6em;
	padding: 2px 4px 2px 4px;
	margin-right: 5px;
}

.tag-light {
	background-color: #ffffff;
	color: #444641;
	font-size: 0.6em;
	padding: 2px 4px 2px 4px;
	margin-right: 5px;
}

.tweet-image-darken {
	background-color: rgba(0, 0, 0, 0.6);
	height: 169px;
	.tweet-info {
		color: #ffffff;
	}
	.author a {
		color: #ffffff;
	}
}

.tweet-image-large-darken {
	background-color: rgba(0, 0, 0, 0.6);
	height: 344px;
	.tweet-info {
		color: #ffffff;
	}
	.author a {
		color: #ffffff;
	}
}

.tweet-image {
	height: 344px;
	background-color: #9ae8f4;
	position: relative;
	background-size: cover;
	background-position: center; 
}

.tweet-image-small {
	height: 169px;
	background-color: #9ae8f4;
	position: relative;
	margin-bottom: 6px;
	background-size: cover;
	background-position: center; 
}

.tweet-image a,
.tweet-image-small a {
	text-decoration: none;
}

.tweet-info {
	padding-top: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

.tweet-info .text {
	font-size: 0.8em;
	margin-top: -10px;
}

.author {
	font-size: 0.8em;
	padding: 2px 4px 2px 0px;
	position: absolute;
	bottom: 0px;
	padding-left: 7px;
}

.author a:hover {
	text-decoration: underline;
}

.edit {
	font-size: 0.8em;
	background-color: #ff0000;
	color: #ffffff;
	padding: 3px;
}

a {
	text-decoration: none;
}

.edit:hover {
	background-color: #000000;
	color: #ffffff;
}

.edit-form {
	height: 344px;
	background-color: #000000;
	color: #ffffff;
	z-index: 999;
	display: none;
}

.edit-form label {
	font-size: 0.8em;
	display: block;
}

.edit-form form {
	padding: 5px;
	position: relative;
	height: 90%;
}

.edit-form input {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}

.edit-form input[type=submit] {
	position: absolute;
	bottom: -10px;
	right: 5px;
   	background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    &:hover {
    	background-color: #efefef;
    }
}

.edit-black {
	font-size: 0.8em;
	color: #ffffff;
	padding: 4px;
}

.close {
	float: right;
	margin-right: 3px;
	margin-top: -2px;
}

.close:hover {
	color: #ff0000;
	cursor:default;
}
