.header {
  text-align: center;
  background-color: #ffffff;
  position: relative;
}

.header__container {
  height: 450px;
  display: none;
}

.header__nav {
  display: block;
  margin: 0 auto;
  height: 60px;
  background-color: #F4F4F4;
  padding: 20px;
}

.header__title {
  font-size: 18px;
}

.header__image {
  background-position: center;
  background-size: cover;
  height: 240px;
  position: relative;
}

.header__nav-icon {
  display: none;
}

.header__nav-icon img {
  height: 30px;
}

.header__nav-icon--left {
  float: left;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header__nav-icon--right {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.header__padding {
  height: 60px;
  display: none;
  background-color: #F4F4F4;
}

.header__padding--display-true {
  display: block;
}

.header__line {
  height: 50px;
  border-right: 1px solid black;
  width: 50%;
  margin-bottom: 2px;
}

.header__hashtag {
  font-size: 11px;
  border: 1px solid black;
  padding: 6px 8px 7px 8px;
}

.header__quote {
  height: 210px;
}

.header__quote-attribution {
  font-size: 16px;
  margin-top: 40px;
}

.header__quote-text {
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 18px;
}

.header__nav--sticky { 
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #E9E9E9;
  background-color: #ffffff;
}


@media (max-width: 1024px) {
  .header__container {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header__nav {
    background-color: #ffffff;
    border-bottom: 1px solid #E9E9E9;
  }
}
